robot_package/xml_schema/evaml_log_element.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
<!--
XML Schema for the EvaML Language
This is EvaML
Copyright : 2024 MIDIACOM LAB, All Rights Reserved.
See https://www.midiacom.uff.br
PublicURI : https://github.com/midiacom/eva-robot/blob/master/EvaML-EvaSIM-source-code/Linux%20Version/EvaML-Schema/evaml_schema.xsd

Developed by Marcelo Marques da Rocha
MidiaCom Laboratory - Universidade Federal Fluminense
This work was funded by CAPES and Google Research

Revision: 2025/04/16
-->
	<!-- Including the EVAML basic type definitions -->
    <xs:include schemaLocation="./evaml_basic_types.xsd"></xs:include>
	
    <!-- ** EVAML log command definition ** -->
	<xs:element name="log">
		<xs:complexType mixed="true">
			<xs:attribute name="id" type="idType"/>
			<xs:attribute name="name" type="logNameType" use="required"/>
		</xs:complexType>
	</xs:element>

	<!-- Log type definitions -->
	<xs:simpleType name="logNameType">
		<xs:restriction base="xs:token">
			<!-- A variable name can only start with letters and be followed by letters, numbers and the character -->
			<xs:pattern value="[a-zA-Z][a-zA-Z0-9]*"/>
		</xs:restriction>
	</xs:simpleType>

</xs:schema>
