robot_package/xml_schema/evaml_motion_element.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
<!--
XML Schema for the EvaML Language
This is EvaML
Copyright : 2024 MIDIACOM LAB, All Rights Reserved.
See https://www.midiacom.uff.br
PublicURI : https://github.com/midiacom/eva-robot/blob/master/EvaML-EvaSIM-source-code/Linux%20Version/EvaML-Schema/evaml_schema.xsd

Developed by Marcelo Marques da Rocha
MidiaCom Laboratory - Universidade Federal Fluminense
This work was funded by CAPES and Google Research

Revision: 2025/04/16
-->
		<!-- Including the EVAML basic type definitions -->
    <xs:include schemaLocation="./evaml_basic_types.xsd"></xs:include>

    <!-- EVAML motion command definition ** -->
	<xs:element name="motion">
		<xs:complexType>
			<xs:attribute name="id" type="idType"/>
			<xs:attribute name="type" type="motionListType" use="required"/>
		</xs:complexType>
	</xs:element>

	<!-- Motion type definition -->
	<xs:simpleType name="motionListType"> <!--# Movimentos do FRED -->
		<xs:restriction base="xs:string">
			<xs:enumeration value="FORWARD"/> <!-- Walk forward (2 walk cycles). -->
			<xs:enumeration value="FORWARD2"/> <!-- Walk forward (4 walk cycles). -->
			<xs:enumeration value="BACKWARD"/> <!-- Walk backward (2 walk cycles). -->
			<xs:enumeration value="BACKWARD2"/> <!-- Walk backward (4 walk cycles). -->
			<xs:enumeration value="LEFT"/> <!-- Walk to the left (2 walk cycles). -->
			<xs:enumeration value="LEFT_MOON"/> <!-- Walk to the left in moonwalk style (2 walk cycles). -->
			<xs:enumeration value="RIGHT"/> <!-- Walk to the right (2 walk cycles). -->
			<xs:enumeration value="RIGHT_MOON"/> <!-- Walk to the right in moonwalk style (2 walk cycles). -->
			<xs:enumeration value="MOONWALK"/> <!-- Moonwalk left and right (2 cycles). -->
			<xs:enumeration value="MOONWALK2"/> <!-- Moonwalk left and right (4 cycles). -->
			<xs:enumeration value="DANCE1"/> <!-- Dance 1 (2 cycles). -->
			<xs:enumeration value="DANCE1_2"/> <!-- Dance 1 (4 cycles). -->
			<xs:enumeration value="DANCE2"/> <!-- Dance 2 (2 cycles). -->
			<xs:enumeration value="DANCE2_2"/> <!-- Dance 2 (4 cycles). -->
			<xs:enumeration value="STOMPING_FOOT_R"/> <!-- The robot stamps its right foot 4 times. -->
			<xs:enumeration value="STOMPING_FOOT_L"/> <!-- The robot stamps its left foot 4 times. -->
		</xs:restriction>
	</xs:simpleType>
	
</xs:schema>
