robot_package/xml_schema/evaml_talk_element.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
<!--
XML Schema for the EvaML Language
This is EvaML
Copyright : 2024 MIDIACOM LAB, All Rights Reserved.
See https://www.midiacom.uff.br
PublicURI : https://github.com/midiacom/eva-robot/blob/master/EvaML-EvaSIM-source-code/Linux%20Version/EvaML-Schema/evaml_schema.xsd

Developed by Marcelo Marques da Rocha
MidiaCom Laboratory - Universidade Federal Fluminense
This work was funded by CAPES and Google Research

Revision: 2025/04/16
-->
	<!-- Including the EVAML basic type definitions -->
    <xs:include schemaLocation="./evaml_basic_types.xsd"></xs:include>
    <xs:include schemaLocation="./evaml_voice_element.xsd"></xs:include>

    <!-- EVAML talk command definition ** -->
	<xs:element name="talk">
		<xs:complexType mixed="true">
			<xs:attribute name="id" type="idType"/>
			<xs:attribute name="voiceType" type="voiceType"/>
			<xs:attribute name="pitchShift" type="pitchShiftType"/>
		</xs:complexType>
	</xs:element>

</xs:schema>
