robot_package/xml_schema/evaml_basic_types.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
<!--
XML Schema for the EvaML Language
This is EvaML
Copyright : 2024 MIDIACOM LAB, All Rights Reserved.
See https://www.midiacom.uff.br
PublicURI : https://github.com/midiacom/eva-robot/blob/master/EvaML-EvaSIM-source-code/Linux%20Version/EvaML-Schema/evaml_schema.xsd

Developed by Marcelo Marques da Rocha
MidiaCom Laboratory - Universidade Federal Fluminense
This work was funded by CAPES and Google Research

Revision: 2024/09/26
-->
<!-- ** EVAML data type definitions ** -->
	<xs:simpleType name="idType">
		<xs:restriction base="xs:ID"/>
	</xs:simpleType>

	<xs:simpleType name="topicType">
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	
	<xs:simpleType name="switchVarOnlyDollar">
		<xs:restriction base="xs:token">
			<xs:pattern value="\$[1-9-]?[0-9]*"/> <!-- Variable of type $. Ex.: $, $1, $-2-->
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="switchVarAll">
		<xs:restriction base="xs:token">
			<!-- A variable name can only start with letters and be followed by letters, numbers and the character _ -->
			<xs:pattern value="[a-zA-Z_][a-zA-Z0-9_]*"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="switchVarType">
		<!-- The variable is defined as the union (one or the other) of the two types defined previously -->
		<xs:union memberTypes="switchVarOnlyDollar switchVarAll" />
	</xs:simpleType>

	<xs:simpleType name="caseOpType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="exact"/>
			<xs:enumeration value="contain"/>
			<xs:enumeration value="eq"/>
			<xs:enumeration value="lt"/>
			<xs:enumeration value="gt"/>
			<xs:enumeration value="lte"/>
			<xs:enumeration value="gte"/>
			<xs:enumeration value="ne"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="modeType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="ON"/>
			<xs:enumeration value="OFF"/>
		</xs:restriction>
	</xs:simpleType>

	<!-- Definição lista tipo intervalo inteiro -->
	<xs:simpleType name="pitchShiftType">
		<xs:restriction base="xs:float">
			<xs:minInclusive value="-10.0"/>
			<xs:maxInclusive value="10.0"/>
		</xs:restriction>
	</xs:simpleType>

</xs:schema>
