eva_robot_package/xml_schema/evaml_counter_element.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
<!--
XML Schema for the EvaML Language
This is EvaML
Copyright : 2024 MIDIACOM LAB, All Rights Reserved.
See https://www.midiacom.uff.br
PublicURI : https://github.com/midiacom/eva-robot/blob/master/EvaML-EvaSIM-source-code/Linux%20Version/EvaML-Schema/evaml_schema.xsd

Developed by Marcelo Marques da Rocha
MidiaCom Laboratory - Universidade Federal Fluminense
This work was funded by CAPES and Google Research

Revision: 2025/04/16
-->
	<!-- Including the EVAML basic type definitions -->
    <xs:include schemaLocation="./evaml_basic_types.xsd"></xs:include>

    <!-- EVAML counter command definition ** -->
	<xs:element name="counter">
		<xs:complexType>
			<xs:attribute name="id" type="idType"/>
			<xs:attribute name="var" type="switchVarType" use="required"/>
			<xs:attribute name="op" type="counterOpType" use="required"/>
			<xs:attribute name="value" type="counterValueType" use="required"/>
		</xs:complexType>
	</xs:element>

	<!-- Counter type definitions -->
	<xs:simpleType name="counterOpType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="="/>
			<xs:enumeration value="+"/>
			<xs:enumeration value="-"/>
			<xs:enumeration value="*"/>
			<xs:enumeration value="/"/>
			<xs:enumeration value="^"/>
			<xs:enumeration value="%"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="counterValueType">
		<!-- The variable is defined as the union (one or the other) of the two types defined previously -->
		<xs:union memberTypes="counterValueOnlyDollar counterValueAll" />
	</xs:simpleType>

	<xs:simpleType name="counterValueAll">
		<xs:restriction base="xs:token">
			<!-- A variable name can only start with letters and be followed by letters, numbers and the character _ -->
			<xs:pattern value="[a-zA-Z0-9][a-zA-Z0-9_]*"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="counterValueOnlyDollar">
		<xs:restriction base="xs:token">
			<xs:pattern value="\$[1-9-]?[0-9]*"/> <!-- Variable of type $. Ex.: $, $1, $-2-->
		</xs:restriction>
	</xs:simpleType>

</xs:schema>
